<% include ../common-en_US/header.ejs %>
<!-- MAIN CONTENT GOES HERE -->
<h1>Hi <%= name %>,</h1>

<p>Congratulations! Your Dojo application is being reviewed by a member of the CoderDojo Foundation team. We will be in touch soon with the next steps of your application.</p>

<p>Here are three things to check out while you wait:
  <ul>
    <li>Our <a href="https://projects.raspberrypi.org/en/projects/safeguarding-module/">safeguarding e-learning module</a> explains how safeguarding principles are applied in Dojos. Log in before you start the module to receive a certificate on completion of the thirty-minute training.</li>
    <li>Our <a href="https://coderdojo.com/coderdojo-global-slack/?utm_source=welcome+email&utm_medium=email&utm_campaign=apr-2022">community discussion group on Slack</a></li>
    <li><a href="https://coderdojo.com/resources/?utm_source=welcome+email&utm_medium=email&utm_campaign=apr-2022">Resources for your Dojo</a></li>
  </ul>
</p>

<p>Let us know if you have any questions by emailing <a href="mailto:info@coderdojo.org">info@coderdojo.org</a>.</p>

<p>The CoderDojo Foundation</p>

<% include ../common-en_US/footer.ejs %>
