<% include ../common-en_US/header.ejs %>
<!-- MAIN CONTENT GOES HERE -->
<h1>Hi <%= name %>,</h1>

<p>Congratulations! Your Dojo application has been submitted and will be reviewed by a member of the CoderDojo team shortly. We will be in touch with the next steps and look forward to verifying your new Dojo.</p>

<p>Here are some things you can do while you wait on verification;
  <ul>
    <li>Check out our forums and community discussion <a href="https://forums.coderdojo.com">here</a></li>
    <li>Check out our resources for your Dojo <a href="https://kata.coderdojo.com">here</a></li>
  </ul>
  Just get in contact if you have any questions in the meantime and we will be in touch soon.
</p>

<p>The CoderDojo Foundation</p>


<% include ../common-en_US/footer.ejs %>
